@import 'mixins';

@mixin has-shadow($color) {
  text-shadow: 1px 1px 0 $color, -1px -1px 0 $color, -1px 1px 0 $color, 1px -1px 0 $color;
  //-webkit-text-stroke: 1px #665fbe;
}

html {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100% !important;
}

ul, ol {
  list-style: none;
}

.btn-lg {
  display: inline-block;
  width: 4.88rem;
  height: 1.8rem;
  line-height: 1.8rem;
  padding-left: .85rem;
  background: url(../images/btn-lg.png) 0 0 no-repeat;
  @include background-size(100% 100%);
  font-size: .5rem;
  color: #ffffff;
  @include has-shadow(#6961bb);
  i {
    position: relative;
    top: -2px;
    font-size: 1.2em;
    vertical-align: middle;
    text-shadow: none;
    color: #6961bb;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

.btn-sm {
  display: inline-block;
  width: 2.35rem;
  height: .88rem;
  line-height: .88rem;
  padding-left: .3rem;
  background: url(../images/btn-sm.png) 0 0 no-repeat;
  @include background-size(100% 100%);
  font-size: .3rem;
  color: #ffffff;
  @include has-shadow(#6961bb);
  i {
    position: relative;
    top: -2px;
    font-size: 1.2em;
    vertical-align: middle;
    text-shadow: none;
    color: #6961bb;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

.btn-normal {
  display: inline-block;
  width: 1.48rem;
  height: .48rem;
  line-height: .48rem;
  background: url(../images/btn-normal.png) 0 0 no-repeat;
  @include background-size(100% 100%);
  text-align: center;
  font-size: .25rem;
  color: #ffffff;
  @include has-shadow(#b27301);
  &.block {
    display: block;
    width: 100%;
  }
}

.icon {
  display: inline-block;
  background-image: url(../images/icon.png);
  background-size: 1.8rem;
}

.icon-home {
  background-position: 0 0;
}

.icon-talk {
  background-position: -.6rem 0;
}

.icon-user {
  background-position: -1.21rem 0;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    margin-top: .22rem;
    margin-left: .36rem;
    float: left;
    img {
      width: 1.83rem;
      height: .35rem;
    }
  }
  .sub-logo {
    float: right;
    margin-top: .06rem;
    margin-right: .5rem;
    img {
      width: 1.21rem;
      height: .7rem;
    }
  }
}

.view {
  padding: 1rem .36rem 1.26rem;
  height: 100vh;
  overflow: hidden;
  background: url(../images/view-bg1.jpg) center top no-repeat,
  url(../images/view-bg3.jpg) center bottom no-repeat,
  url(../images/view-bg2.jpg) center top repeat-y;
  @include background-size(100%);
  .page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.add-btn {
  display: inline-block;
  padding: 0 .1rem;
  height: .32rem;
  line-height: .32rem;
  font-size: .16rem;
  color: #ffffff;
  @include linear-gradient(#a49bee, #8a80e1);
  border: 1px solid #7d75bc;
  @include border-radius(.05rem);
}
.top-header {
  position: relative;
  margin: .16rem .2rem 0;
  height: 1.52rem;
  background: url(../images/topic-header.png) center top no-repeat;
  @include background-size(100% 100%);
  text-align: center;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  img {
    height: .82rem;
    vertical-align: middle;
  }
  .add-btn {
    position: absolute;
    right: -.9rem;
    bottom: .04rem;
    width: .9rem;
  }
  dl {
    color: #ffffff;
    line-height: 1;
    @include has-shadow(#6961bb);
    dt {
      font-size: .45rem;
    }
    dd {
      font-size: .24rem;
      margin-bottom: .1rem;
    }
  }
  &.sm {
    margin: .5rem auto 0;
    width: 3.3rem;
    height: .9rem;
    dl {
      dt {
        font-size: .36rem;
      }
    }
  }
}

.game-list {
  padding: .2rem;
  li {
    min-height: 1.53rem;
    background-color: #fbde90;
    @include border-radius(.2rem);
    @include box-shadow(0 0 .14rem rgba(223, 183, 77, 1));
    .game-link {
      display: block;
      padding: .1rem .16rem;
    }
    & + li {
      margin-top: .4rem;
    }
  }
  .tag-img {
    img {
      height: .4rem;
    }
  }
  h2 {
    font-size: .28rem;
    color: #bd6918;
  }
}

.game-disc {
  margin-top: .1rem;
  @include clearfix();
  .game-tag {
    float: left;
    height: .38rem;
    padding: 0 .08rem;
    background-color: #fdce52;
    @include flexbox();
    @include align-items(center);
    @include border-radius(.19rem);
    @include flex-flow(nowrap);
    span {
      white-space: nowrap;
      color: #bd6918;
      font-size: .14rem;
    }
    & + .game-tag {
      margin-left: .1rem;
    }
  }
}

.icon-x2 {
  margin-right: .05rem;
  height: .26rem;
}

.icon-x1 {
  margin-right: .05rem;
  height: .16rem;
}

.fixed-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1rem;
  background: url(../images/fixed-nav.png) 0 0 no-repeat;
  @include background-size(100% 100%);
  @include flexbox();
  @include align-items(center);
  @include flex-flow(nowrap);
  .fixed-item {
    @include flex(1);
    text-align: center;
    color: #ffffff;
    &.selected {
      .icon-home {
        background-position: 0 -.6rem;
      }
      .icon-talk {
        background-position: -.6rem -.6rem;
      }
      .icon-user {
        background-position: -1.21rem -.6rem;
      }
    }
    .icon {
      margin: 0 auto;
      display: block;
      width: .6rem;
      height: .6rem;
    }
    span {
      vertical-align: top;
      font-size: .2rem;
      line-height: 1;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.42);
    }
  }
}

.task-wrap {
  margin: .2rem .3rem;
  background-color: #fbde90;
  padding: .2rem .38rem;
  @include border-radius(.1rem);
  @include box-shadow(1px 1px 2px #aaa487);
  .task-head {
    padding-bottom: .05rem;
    color: #e50000;
    text-align: center;
    border-bottom: 1px solid #bd6918;
    h1 {
      margin: .1rem 0 .06rem;
      font-size: .32rem;
    }
    p {
      font-size: .18rem;
    }
  }
  .game-disc {
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
}

.game-panel {
  .game-panel-header {
    img {
      height: .4rem;
    }
  }
}

.prize-set {
  padding: .06rem .2rem;
  color: #bd6918;
  font-size: .16rem;
  .prize-tag {
    display: inline-block;

  }
}

.prize-panel {
  margin-top: .1rem;
  .prize-panel-hd {
    text-align: center;
    font-size: .16rem;
    color: #bd6918;
    margin-bottom: .05rem;
  }
  .prize-panel-ft {
    padding: .1rem 0;
    text-align: center;
    .ft-a {
      font-size: .16rem;
      color: #e50000;
      padding: .04rem 0;
    }
    .ft-b {
      font-size: .12rem;
      color: #2d2d2d;
    }
    .ft-c {
      margin-top: .1rem;
      img {
        height: .47rem;
      }
    }
  }
}

.prize-list {
  li {
    @include flexbox();
    @include align-items(center);
    @include flex-flow(nowrap);
    @include border-radius(.19rem);
    padding: 0 .15rem;
    background-color: #fdce52;
    .cell {
      font-size: .16rem;
      height: .38rem;
      line-height: .38rem;
      padding: 0 .08rem;
      @include flex(1);
      white-space: nowrap;
      color: #bd6918;
    }
    & + li {
      margin-top: .1rem;
    }
  }
}

.zb-index {
  padding: .8rem .4rem;
  .btn-lg {
    & + .btn-lg {
      margin-top: .9rem;
    }
  }
  .zb-index-bot {
    padding: 0 .06rem;
    margin-top: .9rem;
    @include flexbox();
    @include justify-content(space-between);
  }
}

.team-wrap {
  margin: .2rem .3rem;
  background-color: #fbde90;
  padding: .3rem .5rem;
  @include border-radius(.1rem);
}

.teams-wrap {
  margin: .2rem .3rem;
  background-color: #fbde90;
  padding: .25rem .12rem;
  @include border-radius(.1rem);
}

.team-form {
  .form-group {
    margin-bottom: .45rem;
    .label {
      font-size: .3rem;
      margin-bottom: .1rem;
      color: #ffffff;
      @include has-shadow(#dda555)
    }
    .form-row {
      @include flexbox();
      @include align-items(center);
      .auto-complete {
        position: relative;
        @include flex(1);
        .drop-list {
          position: absolute;
          top: .51rem;
          right: 0;
          left: 0;
          padding: 0 .14rem;
          background-color: #ffffff;
          @include border-radius(.1rem);
          font-size: .18rem;
          max-height: 3rem;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          li {
            padding: .1rem 0;
            a {
              text-decoration: none;
            }
            & + li {
              border-top: 1px solid #ebd2b9;
            }
          }
        }
      }
      .input {
        @include placeholder() {
          color: #e0d5cb;
        }
        @include border-radius(.1rem);
        width: 100%;
        padding: 0 .2rem;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        background-color: #fff;
        font-size: .2rem;
        color: inherit;
        height: .5rem;
        line-height: 1.47058824;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      span, a {
        padding-left: .2rem;
        color: #bd6918;
        text-decoration: underline;
      }
    }
  }
  .form-disc {
    padding: .5rem;
    font-size: .25rem;
    @include border-radius(.2rem);
    @include box-shadow(0 0 .1rem #dfb74d);
    background-color: #fdf4c9;
    color: #bd6918;
  }
  .btn-group {
    text-align: center;
    padding: .6rem .2rem .5rem;
  }
}

.drop-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  .alert-box {
    margin: 2.2rem auto 0;
    padding: .4rem .2rem .2rem;
    width: 5.55rem;
    border: .1rem solid #fff;
    @include border-radius(.2rem);
    @include box-shadow(0 0 .1rem .06rem #fff);
    background-color: #9288fb;
    text-align: center;
    .box-content {
      font-size: .5rem;
      @include has-shadow(#6961bb);
      color: #ffffff;
    }
    .box-body {
      font-size: .32rem;
      @include has-shadow(#6961bb);
      color: #ffffff;
      span {
        color: #ffbd04;
        margin: 0 .1rem;
      }
    }
    &.success {
      min-height: 4.96rem;
      padding: 1.2rem 1rem 0;
      background-image: url(../images/alert-box-success.png);
      @include background-size(contain);
      .btn-normal {
        width: 2.84rem;
        height: .78rem;
        line-height: .78rem;
        font-size: .48rem;
      }
    }
    .box-footer {
      padding: .3rem 0 .15rem;
      .btn-normal {
        margin: 0 .2rem;
      }
    }
    .box-disc {
      font-size: .24rem;
      @include has-shadow(#6961bb);
      color: #ffe93c;
    }
  }
}

.activity-box {
  margin: .3rem;
  background-color: #fbde90;
  padding: .2rem 0 .1rem;
  @include border-radius(.1rem);
  @include box-shadow(1px 1px 2px #aaa487);
  .activity-box-disc {
    width: 4.55rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    background: url(../images/activity-box-disc.png) center no-repeat;
    @include background-size(contain);
    font-size: .16rem;
    color: #ffffff;
    @include has-shadow(#6961bb);
  }
  .activity-body {
    @include has-shadow(#6961bb);
    padding: .5rem .5rem .2rem;
    color: #ffffff;
    background: url(../images/activity-body.png) 0 0 no-repeat;
    @include background-size(contain);
    dt {
      font-size: .6rem;
      line-height: 1.3;
    }
    dd {
      font-size: .3rem;
    }
  }
  p {
    font-size: .22rem;
    padding: 0 .5rem;
    color: #bd6918;
  }
}

.activity-action {
  padding: .2rem;
  @include flexbox();
  @include align-items(center);
}

.activity-link {
  @include flex(1);
  text-align: right;
  li {
    a {
      font-size: .2rem;
      color: #bd6918;
      &:after {
        margin-left: .1rem;
        display: inline-block;
        content: '';
        width: .13rem;
        height: .16rem;
        background: url(../images/arrow.png) 0 0 no-repeat;
        @include background-size(contain);
      }
    }
  }
}

.activity-box-content {
  @include has-shadow(#6961bb);
  padding: .1rem .4rem;
  font-size: .4rem;
  line-height: 1.4;
  color: #ffffff;
}

.act-btn {
  margin-left: .2rem;
  width: 2.04rem;
  img {
    width: 2.04rem;
  }
}

.back-btn {
  position: absolute;
  top: .88rem;
  left: -.04rem;
  width: 1.02rem;
  height: .4rem;
  line-height: .4rem;
  font-size: .24rem;
}

.list-panel {
  .list-panel-header {
    font-size: .18rem;
    color: #bd6918;
  }
  .list-panel-body {
    padding: .15rem;
    .list-item {
      @include clearfix();
      li {
        float: left;
        width: 50%;
        padding: .1rem .15rem;
        a {
          display: block;
          padding: 0 .2rem;
          line-height: .36rem;
          @include border-radius(.18rem);
          background-color: #fdce52;
          color: #ffffff;
          font-size: .18rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.team-tab {
  position: relative;
  bottom: -.08rem;
  padding: 0 .4rem;
  @include flexbox();
  li {
    @include flex(1);
    a {
      margin: 0 auto;
      display: block;
      width: 1.36rem;
      height: .45rem;
      padding-top: .1rem;
      text-align: center;
      background: url(../images/team-tab.png) center no-repeat;
      @include background-size(100% 100%);
      font-size: .22rem;
      color: #ffffff;
      @include text-shadow(1px 1px 2px rgba(51, 51, 51, 0.66))
    }
    &.active {
      a {
        background-image: url(../images/team-tab-h.png);
        color: #bd6918;
      }
    }
  }
}

.team-content {
  border: .08rem solid #fff;
  background-color: #fdf4c9;
  @include border-radius(.16rem);
  padding: 0 .2rem;
}

.team-item {
  padding: .1rem;
  font-size: .18rem;
  .item-a {
    padding: .15rem 0;
    @include clearfix();
    color: #bd6918;
    span {
      color: #9288fb;
    }
  }
  .item-b {
    color: #bd6918;
    @include clearfix();
    a {
      color: #bd6918;
      & + a {
        margin-left: .1rem;
      }
    }
  }
  & + .team-item {
    border-top: 1px solid #eaca94;
  }
}

.team-flex {
  padding: .1rem .2rem;
  @include flexbox();
  @include justify-content(space-between);
  .flex-box {
    @include flex(1);
    margin: .2rem .1rem;
    background-color: #fbde90;
    padding: .3rem .15rem;
    @include border-radius(.1rem);
    color: #bd6918;
    h2 {
      font-weight: normal;
      text-align: center;
      font-size: .28rem;
      margin-bottom: .2rem;
      i {
        color: #6961bb;
        font-size: .3rem;
      }
    }
    .flex-list {
      font-size: .14rem;
      line-height: 2;
    }
  }
}

.teams-wrap {
  margin: .2rem .3rem;
  background-color: #fbde90;
  padding: .25rem .12rem;
  @include border-radius(.1rem);
}

.flex-btns {
  text-align: center;
  a {
    margin: 0 .4rem;
  }
}

.team-info-box {
  margin: .3rem .3rem 0;
  background-color: #fbde90;
  padding: .2rem .2rem;
  @include border-radius(.1rem);
  @include box-shadow(1px 1px 2px #aaa487);
  .team-header {
    color: #ffffff;
    font-weight: bold;
    font-size: .32rem;
    border-bottom: 1px solid #e8bb6c;
    padding-bottom: .06rem;
    .add-btn{
      float: right;
      margin-top: .1rem;
    }
  }
  .team-body {
    padding: .1rem 0;
  }

  .team-row {
    width: 100%;
    margin: .1rem 0;
    @include flexbox();
    @include align-items(flex-start);
    line-height: .38rem;
    font-size: .22rem;
    dt {
      min-width: 1.6rem;
      padding: 0 .2rem;
      background-color: #ffb903;
      color: #bd6918;
      @include border-radius(.2rem 0 0 .2rem);
    }
    dd {
      @include border-radius(0 .2rem .2rem 0);
      padding: 0 .1rem;
      @include flex(1);
      background-color: #fdce52;
      color: #ffffff;
      &.ld-dd {
        background-color: transparent;
        img{
          width: 1.5rem;
        }
      }
    }
  }
}

.team-footer{
  padding: .2rem;
  text-align: center;
  .btn-normal{
    margin: .1rem;
  }
}




